<%# app/views/students/_list.html.erb %>
<div id="filterrific_results" class="container">

<!--   <div>
    <%= page_entries_info events %>
  </div> -->

  <table class="table">
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event_path(event) %></td>
        <td><%= event.description %></td>
        <td><%= image_tag event.image.url(:thumb) %></td>
        <td><%= event.date_begin %></td>
        <td><%= event.time_begin.strftime("%H:%M") %></td>
        <td><%= event.date_end %></td>
        <td><%= event.time_end.strftime("%H:%M") %></td>
        <td><%= event.user.email if event.user %></td>
        <% if event.user == current_user %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div class="text-center">
<%= will_paginate @events, renderer: BootstrapPagination::Rails %>
</div>