<div class="jumbotron center">
    <h1>Welcome to WKP</h1>
    <br/>
     <% if user_signed_in? %>
      <%= link_to "Browse events", events_path, class: "btn btn-default" %>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-md" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-md" %>
       </p>
  <% end %>  
</div>

<h1>Introduction</h1>
<p>Creative Tim stands for everything a designer looks in his work: clean, functions interfaces for great products. The number of friends with similar attitude can only increase over time, since the vision for a better web is a wish of many designers. </p>
</p>Be sure to enroll and browse around for anything that may bring extra value to your project and ask Tim wherever you see something missing. </p>
</br>

<h1>Last 5 events</h1>

<% @last_events.each do |last_event| %>
<%= link_to last_event.title, event_path(last_event) %>
<%= link_to image_tag(last_event.image.url(:thumb)), event_path(last_event) %>

</br>
<% end %>

<h1>Categories</h1>
</br>
<table>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
<!--         <td><%= category.description %></td>
 -->      </tr>
    <% end %>
  </tbody>
</table>

<br>




