
<div class="row">
<h1><%= @event.title %></small></h1>
<h1><small>catégorie <%= @event.category_id %></small></h1>
</div>
<div class="row">
  <div class="row ">

</div>
</br>
<div class="row">
  <div class="col-md-7">
  	<p>Description: <%= @event.description %></p>
  	<br>
    <%= image_tag @event.image.url(:medium), class: "img-responsive" %>
  </br>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <div class="panel panel-default">
    <div class="panel-heading">Event details</div>
    <div class="panel-body">
    <p>Du <%= @event.date_begin %> au <%= @event.date_end.strftime("%Y %B %d") %></p>
    <p>Horaires: de <%= @event.time_begin.strftime("%H:%M") %> à <%= @event.time_end.strftime("%H:%M") %></p>
    </div>
    <div class="panel-body">
    <p>Organisateur: <%= @event.user.name if @event.user %></p>
    <p><%= link_to "Contact", events_path, class: "btn btn-primary btn-md" %></p>

    </div>
    </div>
  </div>
</div>

</br>
<div class="row">
  <div class="col-md-1"><%= link_to 'Edit', edit_event_path(@event) %></div>
  <div class="col-md-1"><%= link_to 'Back', events_path %></div>
  <div class="col-md-6"></div>
</div>
</br>