
<div class="row">
<h1><%= @event.title %></small></h1>
<h1><small><%= @event.category.name if @event.category %></small></h1>
</div>
<div class="row">
  <div class="row ">

</div>
</br>
<div class="row">
  <div class="col-md-7">
  	<p><%= @event.description %></p>
  	<br>
    <span class="btn btn-warning btn-md">S'inscrire</span>
    <br><br>
    <%= image_tag @event.image.url(:medium), class: "img-responsive" %>
  </br>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
      <h3>Informations</h3>
      <p>Lieu</p>
      <p>Du <%= @event.date_begin %> au <%= @event.date_end.strftime("%Y %B %d") %></p>
      <p>Horaires: de <%= @event.time_begin.strftime("%H:%M") %> à <%= @event.time_end.strftime("%H:%M") %></p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
      <h3>Organisateur</h3>
      <p><%= link_to @event.user.name, user_path(@event.user) if @event.user %></p>
      <p><%= @event.user.address %></p>
      <p>Aliquam pellentesque porta nibh, eget tempus nulla hendrerit ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus vel neque nec lorem convallis mattis. Quisque gravida fringilla velit non sagittis. Sed pellentesque suscipit justo sit amet euismod.</p>
<!--       <p><%= link_to "Contact", events_path, class: "btn btn-primary btn-md" %></p>
 -->    <span class="btn btn-warning btn-md">En savoir +</span>

      </div>
    </div>
  </div>
</div>

</br>
<div class="row">
  <p><%= link_to "Edit", edit_event_path(@event), class: "btn btn-default btn-md" %></p>
  <p><%= link_to "Back", events_path, class: "btn btn-default btn-md" %></p>
</div>
</br>